<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
<footer class="text-muted" style="background-color: #343a40;">
    <div class="container">
        <p class="float-right">
            <a href="#" style="color: white">返回顶部</a>
        </p>
        <p>XXXXXXXXXX - XXXXXXXXXX</p>
        <p>联系我们? 电话：<a href="#" style="color: white">XXX-XXXX-XXXX</a> 或者 邮件：<a
                href="#" style="color: white">897227333@qq.com</a>.</p>
    </div>
</footer>
</body>
</html>