<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>XXX</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="/static/css/index.css">

</head>
{% include 'header.html' %}

<main role="main" style="min-height:700px">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">啊哦</h1>
    <p class="lead">请先登陆哦！</p>
  </div>
</div>
<script>
    $(document).ready(function(){
    $('#exampleModalCenter').modal("show");
});
</script>
</main>
{% include 'footer.html' %}


<script src="https://use.fontawesome.com/dd015894c4.js"></script>
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.js"></script>
<script src="/static/bootstrap/js/bootstrap.bundle.js"></script>
<script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

<script src="/static/js/index.js"></script>
</html>