<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XXX - 我的闲屋记录</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="/static/css/personinfo.css">
</head>

<body>
{% include 'header.html' %}
<main role="main">
    <div class="album py-5 bg-light">

        <div class="container" style="min-height: 700px;">
            <div class="row">
                <div class="col-3">
                    <ul class="nav nav-pills nav-justified flex-column" style="background-color: #eeeeee">
                        <li class="nav-item">
                            <a class="nav-link " href="/pinfo/">个人资料</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pinfo/modify/">编辑个人资料</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pinfo/myhome/">编辑我的房屋</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/pinfo/mypublish/">我的发布记录</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pinfo/mydeal/">我的交易记录</a>
                        </li>
                    </ul>
                </div>
                <div class="col-9">
                    <div class="tab-content" id="v-pills-tabContent">
                        <h4>我的发布记录<a href="/pinfo/mypublish/add/" style="color:#000;margin-left: 10px"><i
                                class="fa fa-plus-circle"></i></a></h4>
                        <div class="dir"></div>
                        {% for i in data %}
                        <div class="card mb-3">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="/static/uploads/{{ i.img }}" style="width: 100%;height: 100%" class="card-img" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title"
                                            style="font-weight: bold;white-space: nowrap;  text-overflow:ellipsis; overflow:hidden;">
                                            <a href="/pinfo/myhome/details/?id={{ i.pid }}"
                                               style="color: black">{{i.title}}</a></h5>
                                        <p class="card-text">房屋名：{{ i.home_name }}</p>
                                        <p class="card-text">闲置时间：{{ i.start_date }}-{{ i.end_date }}</p>
                                        <p class="card-text"><small class="text-muted">发布于：{{ i.date }}</small></p>
{#                                            <a style="margin-left: 20px;color: red">{% if now_date < i.end_date %}已过期{% else %}未过期{% endif %}</a></small>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>

            </div>
        </div>
    </div>
    </div>
</main>
{% include 'footer.html' %}
<script src="https://use.fontawesome.com/dd015894c4.js"></script>
<script src="/static/js/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"
        integrity="sha384-L2pyEeut/H3mtgCBaUNw7KWzp5n9+4pDQiExs933/5QfaTh8YStYFFkOzSoXjlTb"
        crossorigin="anonymous"></script>

<script src="/static/bootstrap/js/bootstrap.js"></script>
<script src="/static/bootstrap/js/bootstrap.bundle.js"></script>
<script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</body>
</html>